@model ProjetoAppLivraria.Models.Autor

@{
    ViewData["Title"] = "Cadastrar Autor";
}

<h1>Cadastrar Autor</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadAutor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nameautor" class="control-label"></label>
                <input asp-for="nameautor" class="form-control" />
                <span asp-validation-for="nameautor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.status, new List<SelectListItem>
                    {
                    new SelectListItem { Value = "1", Text = "Ativo" },
                    new SelectListItem { Value = "2", Text = "Inativo" },
                    })
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
